@import "tailwindcss";
@import "@nuxt/ui";

@layer base {
    button,
    [role="button"] {
        @apply cursor-pointer;
        @apply disabled:cursor-not-allowed;
    }
}

html, body {
    overscroll-behavior-x: none;
}

/* custom tw classes to move, probably */
.text-xxs {
    font-size: 0.625rem;
    line-height: calc(1 / 0.625);
}

/*TRANSITIONS*/
.fade-up-move,
.fade-up-enter-active,
.fade-up-leave-active,
.fade-down-enter-active,
.fade-down-leave-active {
    transition: all 0.5s ease;
}

.fade-up-enter-from,
.fade-up-leave-to
{
    opacity: 0;
    /*transform: translateY(-30px);*/
}

.fade-down-enter-from,
.fade-down-leave-to
{
    opacity: 0;
    /*transform: translateY(30px);*/
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.fade-up-leave-active, .fade-down-leave-active {
    display: none;
}